<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="footer-top">
          <h2 class="logo-title">
            <a href="{{site.baseurl}}/" class="logo-text">GARRICK NG</a>
          </h2>
          <div class="top"><i class="ion ion-ios-arrow-up"></i></div>
        </div>
        <div class="footer-bottom d-flex ">
          {% if site.facebook %}
          <a class="pr-2" href="{{ site.facebook }}">Facebook</a>
          {% else %} {% endif %}

          {% if site.twitter %}
          <a class="pr-2" href="{{ site.twitter }}">Twitter</a>
          {% else %} {% endif %}

          {% if site.instagram %}
          <a class="pr-2" href="{{ site.instagram }}">Instagram</a>
          {% else %} {% endif %}

          {% if site.pinterest %}
          <a class="pr-2" href="{{ site.pinterest }}">Pinterest</a>
          {% else %} {% endif %}
        </div>
      </div>
    </div>
  </div>
</footer> <!-- /.footer -->
