<footer class="footer">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8">
        <div class="footer-top p-0 text-center logo-title">
          <h2 class="mx-auto">
            <a href="{{site.baseurl}}/" class="logo-text">GARRICK NG</a>
          </h2>
        </div>
        <div class="footer-bottom d-flex justify-content-center">
          <a class="px-2" href="{{ site.facebook }}">Facebook</a>
          <a class="px-2" href="{{ site.twitter }}">Twitter</a>
          <a class="px-2" href="{{ site.instagram }}">Instagram</a>
          <a class="px-2" href="{{ site.github }}">Github</a>
          <a class="px-2" href="{{ site.linkedin }}">LinkedIn</a>
        </div>
      </div>
    </div>
  </div>
</footer> <!-- /.footer -->
