<aside class="sidebar">
  <div class="widget widget-social text-center">
    <image class="rounded-circle my-3" style="max-width:150px;max-height:150px"  src="{{site.baseurl}}img/profile.png" ></image>
    <h3 class="widget-title">Garrick Ng</h3>
    <ul class="social-profiles list-reset">
      {% if site.facebook %}
      <li class="social-profiles-item">
        <a href="{{ site.facebook }}" class="social-profiles-link"><i class="ion ion-logo-facebook"></i></a>
      </li>
      {% else %} {% endif %}

      {% if site.twitter %}
      <li class="social-profiles-item">
        <a href="{{ site.twitter }}" class="social-profiles-link"><i class="ion ion-logo-twitter"></i></a>
      </li>
      {% else %} {% endif %}

      {% if site.instagram %}
      <li class="social-profiles-item">
        <a href="{{ site.instagram }}" class="social-profiles-link"><i class="ion ion-logo-instagram"></i></a>
      </li>
      {% else %} {% endif %}

      {% if site.pinterest %}
      <li class="social-profiles-item">
        <a href="{{ site.pinterest }}" class="social-profiles-link"><i class="ion ion-logo-pinterest"></i></a>
      </li>
      {% else %} {% endif %}
    </ul>

    <div class="widget-newsletter">
      <button type="button" class="newsletter-button" onclick="location.href='mailto:ndf_724@hotmail.com';" ><i class="far fa-envelope"></i> Drop Me An Email</button>
    </div>
  </div>
</aside>
